.corpo {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: antiquewhite;
}

@media (max-width: 768px) {
  html {
    font-size: 85%;
    line-height: 1.3;
  }
}
/* .corpo {
  background-color: var(--gray-600);
} */
