.wrapper {
  max-width: 100%;
  display: flex;
  gap: 2rem;
  place-items: center;
  align-content: center;
  justify-content: center;
}

/* @media (max-width: 768px) {
  html {
    font-size: 85%;
    line-height: 1.3;
  }
} */
.corpo{
  background-color: var(--gray-600);
}