.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.commentBox {
  flex: 1;
  background: var(--gray-600);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent p {
  color: var(--gray-200);
  margin-top: 1rem;
}

.commentContent header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.commentContent header button:hover {
  color: var(--danger);
}

.commentBox > footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;

  display: flex;
  align-items: center;
  border-radius: 2px;
}

.commentBox footer button:hover {
  color: var(--blue);
}

.commentBox footer button svg {
  margin-right: 0.5rem;
}

.commentBox footer button span::before {
  /*Before adiciona o elemento dentro do span, que é este estilizado com codigo 2022, este é o conteúdo que foi adicionado*/
  padding: 0 0.25rem;
  content: '\2022';
}
