.contPrincipal {
  display: grid;
  align-items: center;
  width: 52.875rem;
  margin: 1rem 0.5rem 0 -0.5rem;
}

.contModulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tfCriadas {
  color: var(--blue);
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.contTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.775rem;
  width: 2.5rem;
  height: 1.5rem;
  color: var(--gray-100);
  background-color: var(--gray-500);
  border-radius: 18px;
}

.contConcl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.775rem;
  width: 5rem;
  height: 1.5rem;
  color: var(--gray-100);
  background-color: var(--gray-500);
  border-radius: 18px;
}

.tfConcluidas {
  color: var(--purple);
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}
