.post {
  background: var(--gray-400);
  color: var(--zinc-100);
  padding: 0rem 0rem 0rem;
}

.commentForm {
  display: flex;
  margin-top: 0rem;
  padding: 0rem 0rem 0rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--gray-600);
}
.commentForm > strong {
  display: block;
  padding-bottom: 1rem;
}
.commentForm textarea {
  border: 2px solid var(--gray-600);
  border-radius: 8px;
  width: 46rem;
  height: 4rem;
  background: var(--gray-400);
  color: var(--gray-100);
  padding: 0rem 1rem 0rem;
  resize: none;
  align-content: center;
}

/* .commentForm footer {
  visibility: visible;
  max-height: 0;
} */

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type='submit'] {
  border: 2px solid var(--blue-dark);
  border-radius: 8px;
  margin: 0rem 1rem 0rem; /*cima, laterais, baixo*/
  padding: 0.875rem 0.875rem 0.875rem; /*cima, laterais, baixo*/
  background: var(--blue-dark);
  color: var(--gray-100);
  transition: color 0.2s, background-color 0.2s;
  align-items: center;
  display: flex;
  gap: 5px;
}

.commentForm button[type='submit']:not(:disabled):hover {
  background: var(--blue);
  color: var(--gray-100);
}

.commentForm button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.post .head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentList {
  margin-top: 1.5rem;
}
